/*
	COLORS

	bright orange: #F57077;
	top bar blue: #5063BA;
	background overflow: #F4F4F4;
	main: #FFFFFF;
*/

body{
	background-color: #F4F4F4;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 600;
}

header{
	width: 90%;
	margin: 0 auto;
}

main{
	padding: 0;
	margin: 0 auto;
	width: 1450px;
	border-top: 6px solid #5063BA;
	background-color: #fff;
	padding-bottom: 50px;

	background-image: 
		url(../img/free-trial-blob1.svg),
		url(../img/free-trial-halftone-circle.svg);

	background-position:
		25% 80%,
		75% 70%;

	background-repeat: no-repeat;
}

.login{
	width: 90%;
	overflow: hidden;
	margin: 20px auto 0 auto;
}

.login > *{
	float: right;
	display: inline-block;
}

.login > a{
	text-decoration: none;
	color: #939AA1;
	margin: 20px 0px;
	font-size: 12px;
	margin-right: 10px;
	cursor: pointer;
}

.login > span{
	color: #CDCDCD;
	padding: 20px 0px;
	font-size: 12px;
	margin-right: 10px;
}
.login > .ext{
	margin-right: 40px !important;
}
.login > button{
	width: 90px;
	background-color: #F57077;
	padding: 8px 0px;
	border-radius: 5px;
	border: none;
	color: #fff;
	margin-top: 10px;
}

header > *, .search > *, .searchMeta > *{
	display: inline-block;
}
.search{
	position: relative;
}
.search > img{
	margin-right: 12px;
}

.searchMeta > a{
	text-decoration: none;
}

.search > *{
	vertical-align: middle;
}

.content{
	text-align: center;
}

.drplst > *{
	display: inline-block;
	vertical-align: middle;
}
.drplst{
	border-right: 1px solid #aaa;
    position: absolute;
    top: 6px;
    left: 88px;
    height: 34px;
    padding-top: 15px;
    padding-right: 2px;
    cursor: pointer;
}
.drplst > p{
	margin: 0;
	padding: 0;
}
.drplst img{
	margin-left: 5px;
}

.search input{
	padding: 19px 10px 16px 15px;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-left: -6px;
	width: 650px;
	margin-right: 5px;
	font-weight: 600;
	
	background-image: url(../img/search_icon.svg);
	background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12% 50%;
    text-indent: 86px;
}

.searchMeta > a{
	color: #525C67;
	margin: 0px 8px;
}

.content > h1{
	width: 60%;
	margin: 0 auto;
	margin-top: 75px;
	font-family: serif;
	font-weight: 900;
	font-size: 56px;
}

.content > h3{
	width: 50%;
	margin: 0 auto;
	margin-top: 25px;
	font-weight: 100;
}

.content > h3 span{
	font-weight: 600;
}


#emailForm{
	min-height: 250px;
	width: 400px;
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	text-align: center;
	margin: 50px auto;

	-webkit-box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 21px -12px rgba(0,0,0,0.75);

	border-radius: 5px;
	border: 1px solid #eee;
}

#emailForm > h4{
	padding: 20px;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 0px;
	padding-top: 10px;
}

#emailForm > h4 span{
	font-weight: 600;
}

.customList{
	text-align: left;
	width: 70%;
	margin: 0 auto;
}

.eListItem{
	margin-bottom: 10px;
	font-weight: normal;
}

.eListItem > *{
	display: inline-block;
	vertical-align: middle;
}

#theEmail{
	width: 88%;
    margin: 20px auto;
    padding: 15px 0px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

#theSubmit{
	background-color: #F57077;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	width: 88%;
	margin: 0 auto;
	font-weight: 600;
	padding: 20px 0px;
	margin-bottom: 20px;
	cursor: pointer;
}

#emailForm > p{
	font-size: 11px;
	color: #888;
	width: 88%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.error{
	background-color: #ffdbdb;
    color: #989898 !important;
    padding: 10px 0px;
}