<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Creative Market: Free Trial!</title>
    <meta name="description" content="Creative Market: Free Trial!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<main>

		<div class="login">
			<button>JOIN NOW</button>
			<span>or</span>
			<a href="javascript:void(0)">Sign In</a>
			<a href="javascript:void(0)" class="ext">Pricing</a>
		</div>

		<header>

			<div class="search">
				<img src="img/icon-color.svg" width="60">
				<div class="drplst">
					<p>All</p>
					<img src="img/down_arrow.png">
				</div>
				<input type="text" placeholder="Search Creative Market Pro">
			</div>

			<div class="searchMeta">
				<a href="javascript:void(0)">Graphics</a>
				<a href="javascript:void(0)">Fonts</a>
				<a href="javascript:void(0)">Templates</a>
				<a href="javascript:void(0)">Add-Ons</a>
				<a href="javascript:void(0)">Photos</a>
				<a href="javascript:void(0)">Themes</a>
			</div>

		</header>

		<div class="content">
			<h1>Get 3 free downloads!</h1>
			<h3>Start your <span>7-day trial</span> to access thousands of curated photos, fonts, graphics and more to deliver quality designs faster.</h3>
			<div id="emailForm">
				<h4>Get <span>3 free downloads</span> when you start your free trial today.</h4>

				<div class="customList">
					<div class="eListItem"><img src="img/checkmark-lined.svg"> Get access to our full Pro catalog</div>
					<div class="eListItem"><img src="img/checkmark-lined.svg"> Cancel anytime, risk free</div>
					<div class="eListItem"><img src="img/checkmark-lined.svg"> 7 days free</div>
				</div>

				<input id="theEmail" type="email" v-model="email" placeholder="Enter your Email Address" v-on:keyup.enter="sendemail">
				<p class="error" v-if="error.length > 0">{{error}}</p>
				<input id="theSubmit" type="submit" v-on:click="sendemail" value="START YOUR FREE TRIAL">
				<p>The free trial is for new members only. All assets downloaded during the free trial period are covered by a basic license.</p>
			</div>
		</div>

	</main>

	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>